{% extends 'admin/layout/admin.html' %}
{% load static %}
{% block title %}
billing
{% endblock title %}
{% block styles %}

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #f8f9fa;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 7px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0 5px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        background-color: #3f9ce8;
        border: none;
        border-radius: 3px;
    }
</style>
{% endblock styles %}
{% block breadcrumb %}
<a class="breadcrumb-item" href="/admin">Home</a>
<a class="breadcrumb-item" href="/admin/billing">Billing</a>
<span class="breadcrumb-item active">Add Billing</span>
{% endblock breadcrumb %}
{% block content %}
<div class="block-header block-header-default">
    <h3 class="block-title">Add Billing</h3>
    <div class="block-options">
    </div>
</div>
<div class="block-content block-content-full   animated fadeIn">
    <div class="row justify-content-center py-20">
        <div class="col-xl-6">
           <form action="/admin/billing/add" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <label for="user">Student</label>
                    <select name="user" class="form-control selectpicker" id="user" name="user" required>
                        <option disabled hidden selected>Select Student</option>
                        {% for e in students %}
                            <option value="{{e.id}}">{{e.email}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="js-flatpickr form-control bg-white js-flatpickr-enabled flatpickr-input" id="date" name="date"required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount <span class="text-danger">*</span></label>
                    <input type="number" placeholder="Amount" id="amount" required class="form-control" name="amount" required>
                </div>
                <div class="form-group">
                    <label for="remark">Remark <span class="text-danger">*</span></label>
                    <input type="text" placeholder="Remark" id="remark" required class="form-control" name="remark" required>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-alt-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    $(document).ready(function(){
        $('.selectpicker').select2();
       $('.ckeditor').ckeditor();
    });
</script>
{% endblock script %}

