{% extends 'admin/layout/admin.html' %}
{% load static %}
{% block title %}
Hostel
{% endblock title %}
{% block styles %}

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #f8f9fa;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 7px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0 5px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        background-color: #3f9ce8;
        border: none;
        border-radius: 3px;
    }
</style>
{% endblock styles %}
{% block breadcrumb %}
<a class="breadcrumb-item" href="/admin">Home</a>
<a class="breadcrumb-item" href="/admin/hostel">Hostel</a>
<span class="breadcrumb-item">{{hostel.name}}</span>
<span class="breadcrumb-item active">Edit Hostel</span>
{% endblock breadcrumb %}
{% block content %}
<div class="block-header block-header-default">
    <h3 class="block-title">Edit Hostel</h3>
    <div class="block-options">
    </div>
</div>
<div class="block-content block-content-full   animated fadeIn">
    <div class="row justify-content-center py-20">
        <div class="col-xl-6">
           <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <div class="form-material">
                        <input required type="text" required class="form-control" value="{{data.name}}" id="name" name="name" placeholder="Enter User Name" >
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-material">
                        <textarea class="form-control" required id="note" name="note" rows="8" placeholder="Note">{{data.note}}</textarea>
                        <label for="note">Note</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-alt-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if errors %}
    {% for error in errors %}
        {% for t_error in error %}
            <div class="alert alert-danger alert-dismissable ted fadeIn" role="alert"data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1033; top: 12px; left: 176px; right: 0px; text-align: center; animation-iteration-count: 1; width: max-content;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in t_error.messages %}
                    <p class="mb-0">{{message}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock content %}
{% block script %}
<script>
    $(document).ready(function(){
        $('.selectpicker').select2();
    });
    function readURL(input,selector) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(selector)
                .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    } 
</script>
{% endblock script %}

