{% load static %}
<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title>Rustic Hostel</title>

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="assets/media/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="assets/media/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/media/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->

        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href='{%static "admin/assets/css/codebase.min.css"%}'>
        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
        <div id="page-container" class="main-content-boxed">

            <main id="main-container">

                <div class="hero bg-white">
                    <div class="hero-inner">
                        <div class="content content-full">
                            <div class="py-30 text-center">
                                <div class="display-3 text-info">
                                    <i class="fa fa-lock"></i> 401
                                </div>
                                <h1 class="h2 font-w700 mt-30 mb-10">UnAuthorize

                                </h1>
                                <h2 class="h3 font-w400 text-muted mb-50">We are sorry but you are not authorized to access this page..</h2>
                                <a class="btn btn-hero btn-rounded btn-alt-secondary" href="/">
                                    <i class="fa fa-arrow-left mr-10"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
        <script src='{%static "admin/assets/js/codebase.core.min.js"%}'></script>
        <script src='{%static "admin/assets/js/codebase.app.min.js"%}'></script>
    </body>
</html>